---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

import MySiteLayout from "../layouts/BaseLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<MySiteLayout>
	<section>
		<div class="container my-12 mx-auto px-4 md:px-12">
			<div class="flex flex-wrap justify-evenly -mx-1 lg:-mx-4">
				{
					posts.map((post) => (
						<>
							<article class="bg-surface overflow-hidden m-8 rounded-lg shadow-lg">
								<a href={post.url}>
									<img
										alt="Placeholder"
										class="block h-auto w-full"
										src={'/featuredImages/' + post.frontmatter.featuredImage}
									/>
								</a>

								<header class="flex items-center justify-between leading-tight p-4 md:p-4">
									<h1 class="text-lg">
										<a
											class="no-underline hover:underline text-blue"
											href={post.url}
										>
											{post.frontmatter.title}
										</a>
									</h1>
									<time
										class="text-pink text-sm"
										datetime={post.frontmatter.pubDate}
									>
										{new Date(post.frontmatter.pubDate).toLocaleDateString(
											"en-us",
											{
												year: "numeric",
												month: "short",
												day: "numeric",
											}
										)}
									</time>
								</header>

								<footer class="flex items-center justify-between leading-none p-4 md:p-4">
									<a
										class="flex items-center no-underline hover:underline text-black"
										href="#"
									>
										<img
											alt="Placeholder"
											class="block rounded-full"
											src="https://picsum.photos/32/32/?random"
										/>
										<p class="ml-2 text-orange text-sm">Sewdohe</p>
									</a>
									<a
										class="no-underline text-grey-darker hover:text-red-dark"
										href="#"
									>
										<span class="hidden">Like</span>
										<i class="fa fa-heart" />
									</a>
								</footer>
							</article>
						</>
					))
				}
			</div>
		</div>
	</section>
</MySiteLayout>
