---
import MySiteLayout from "../layouts/BaseLayout.astro";
---

<MySiteLayout>
	<h1 class="mx-2 font-extrabold leading-tighter tracking-tighter mb-4 font-heading text-center">
		DivNectar. <span class="text-green">Dev-Tooling</span> done <span class="text-pink">RIGHT</span>
	</h1>
</MySiteLayout>
