---
import MySiteLayout from "../layouts/BaseLayout.astro";
---

<MySiteLayout>
	<h1 class="mx-2 font-extrabold leading-tighter tracking-tighter mb-4 font-heading text-center">
		DivNectar. <span class="text-green">Dev-Tooling</span> done <span class="text-pink">RIGHT</span>
	</h1>
	<p class="lg:md:text-lg sm:text-md px-6 sm:px-2 text-center">
		Welcome to my little corner of the neighborhood. I'm just a long-time developer looking to impart some knowledge that I've gained over the years of tinkering.
	</p>
	<!-- <div class="bg-backgroundAlt flex flex-row sm:flex-col">
		<div class="">
			<h2>Blog</h2>
			<span>Cause' I write stuff sometimes.</span>
		</div>

		<div class="">
			<p>Content</p>
		</div>
	</div> -->
</MySiteLayout>
