---
import MySiteLayout from "../layouts/BaseLayout.astro";
---

<MySiteLayout>
	<h1 class="font-extrabold leading-tighter tracking-tighter mb-4 font-heading">Welcome to DivNectar!</h1>
</MySiteLayout>
