---
const props = Astro.props;
---

<h1 {...props} class="text-green font-extrabold leading-tighter tracking-tighter mb-4 font-heading">
  <slot /> <!-- Be sure to add a `<slot/>` for child content! -->
</h1>