---
const props = Astro.props;
---

<h2 {...props} class="text-purple font-extrabold leading-tighter tracking-tighter mb-4 font-heading">
  <slot /> <!-- Be sure to add a `<slot/>` for child content! -->
</h2>