---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Navigation from "../components/Navbar.svelte";
import Analytics from "../components/Analytics.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  next?: string;
  prev?: string;
  canonicalURL?: string;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "./divnectar.png",
} = Astro.props as Props;

console.log(image)
---

<script>
  // @ts-ignore
  import Swup from "swup";
  // @ts-ignore
  import SwupSlideTheme from "@swup/slide-theme";
  // @ts-ignore
  import SwupHeadPlugin from "@swup/head-plugin";
  // @ts-ignore
  import SwupScrollPlugin from "@swup/scroll-plugin";

  const swup = new Swup({
    plugins: [
      new SwupScrollPlugin(),
      new SwupHeadPlugin(),
      new SwupSlideTheme(),
    ],
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google Analytics Code -->
    <Analytics />

    <BaseHead
      title={title}
      description={description}
      image={image}
    />
  </head>
  <body class="bg-background antialiased text-foreground">
    <Navigation title={title} client:load />
    <main id="swup" class="wrapper pt-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
