---
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=G-13HWC13QKF"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-13HWC13QKF");
		</script>
		<BaseHead title={frontmatter.title} description={frontmatter.description} image={'./featuredImage' + frontmatter.featuredImage} />
	</head>
	<body class="bg-background text-foreground">
		<Header />
		<article class="sm:mx-2 mx-8">
			<slot />
			<!-- your content is injected here -->
		</article>
		<Footer />
	</body>
</html>
