---
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
// import Navigation from "../components/Header.svelte";
import BaseHead from "../components/BaseHead.astro";
import { createOgImage } from "../lib/createOgImage"
import Navigation from "../components/Navbar.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=G-13HWC13QKF"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-13HWC13QKF");
		</script>
		<BaseHead title={frontmatter.title} description={frontmatter.description} image={'/featuredImages/' + frontmatter.featuredImage} />
	</head>
	<body class="bg-background text-foreground">
		<svg
      class="pointer-events-none fixed isolate z-50 opacity-70 mix-blend-soft-light"
      width="100%"
      height="100%"
      ><filter id="pedroduarteisalegend"
        ><feTurbulence
          type="fractalNoise"
          baseFrequency="0.80"
          numOctaves="4"
          stitchTiles="stitch"></feTurbulence>
      </filter><rect
        width="100%"
        height="100%"
        filter="url(#pedroduarteisalegend)"></rect>
    </svg>
		<Navigation title={frontmatter.title} client:load />
		<article class="pt-48 pb-24 sm:md:pt-64 mx-12 md:mx-8 sm:md-2">
			<slot />
		</article>
		<Footer />
	</body>
</html>
